.modal{
  display: block;
  top: 50px;
  z-index: 200;

  header{
    padding: 24px;
    overflow: hidden;
    
    button{
      float: right;
      border: none;
      background: transparent;
      cursor: pointer;
      font-size: 18px;
    }
  }
}
form{
  textarea{
    resize: vertical;
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 15px;
    outline: none;
    border-radius: 3px;
    min-height: 200px;
    transition: border-color .4s, border-width .4s;


    &:focus{
      border: 2px solid #26a69a;
    }
  }
  
  select{
    margin-top: 15px;
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: border-color .4s, border-width .4s;
    outline: none;
    &:focus{
      border: 2px solid #26a69a;
    }
  }

  .btn{
    width: 100%;
  }
}
.board{
  > .row{
    margin: 50px 0;

    > .card{
      width: calc(25% - 10px);
      margin-left: 10px;

      .card-content{
        .task{
          background: #fff;
          padding: 5px 8px;
          margin-top: 10px;
          width: 100%;
          border: 1px solid #ccc;
          cursor: grab;
        }
      }

      .card-action{
        .btn{
          display: flex;
          align-items: center;
          justify-content: space-around;
          width: 100%;
        }
      }
    }
  }
}
